<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SeleniumTraining" thread-count="3" parallel="methods">

    <test name="Actions">
        <classes>
            <class name="tests.actions.DraggableTest"/>
            <class name="tests.actions.DroppableTest"/>
            <class name="tests.actions.ResizableTest"/>
            <class name="tests.actions.SelectableTest"/>
            <class name="tests.actions.SortableTest"/>
        </classes>
    </test>

    <test name="Basics">
        <classes>
            <class name="tests.basics.AlertsTests"/>
            <class name="tests.basics.FormTest"/>
            <class name="tests.basics.IFramesTest"/>
            <class name="tests.basics.TableTest"/>
            <class name="tests.basics.WindowsAndTabsTest"/>
        </classes>
    </test>

    <test name="Others">
        <classes>
            <class name="tests.others.HighSiteTest"/>
        </classes>
    </test>

    <test name="Widgets">
        <classes>
            <class name="tests.widgets.AccordionTest"/>
            <class name="tests.widgets.AutocompleteTest"/>
            <class name="tests.widgets.DatePickerTest"/>
            <class name="tests.widgets.MenuTest"/>
            <class name="tests.widgets.ModalDialogTest"/>
            <class name="tests.widgets.ProgressbarTest"/>
            <class name="tests.widgets.SelectableTest"/>
            <class name="tests.widgets.SliderTest"/>
            <class name="tests.widgets.TooltipTest"/>
        </classes>
    </test>

</suite>